body {
    background: linear-gradient(45deg, #25274d, #000);
    color: beige;
    margin: 10px;
    padding: 10px;
}
.footer {
    background-color: #1f1f1f;
}

.footer p {
    margin: 0;
    font-size: 14px;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons li {
    margin: 0 10px;
}

.social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #007bff;
}


.chat {
    padding: 20px;
}

.chat-box {
    max-height: 300px;
    overflow-y: auto;
}

.bot-message {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 5px;
}

.user-input {
    display: flex;
    align-items: center;
}

input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
